Package: __PACKAGE__
Version: __VERSION__
Architecture: __ARCHITECTURE__
Maintainer: wcbing <i@wcbing.top>
Section: net
Priority: optional
Homepage: https://www.nxtrace.org
Description: __DESCRIPTION__
